<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <%date = DateTime.now.strftime("%A, %B %d, %Y")%>
    <p><%="The date is #{date}"%></p>
  </body>
</html>
